__pycache__
.vscode
.DS_Store

*.zip

# arpa file for NLP
*.arpa
# Dataset for NLP
CS3602_NaturalLanguageProcessing/Projects/Project02_CBOW/data/
CS3602_NaturalLanguageProcessing/Projects/Project02_CBOW/ckpt/
**/data/**

# .pt file for whatever model
*.pt
*.pth

# pickles
*.pkl
